<div class="navBar" ng-controller="DropDownController">
  <div class="department">
    Department ><br />
    <select>
      <option value="Dry Grocery">Dry Grocery</option>}
      option
    </select>
  </div>
  <div class="category">
    Category ><br />
    <select>
      <option value="All">All</option>
      <option ng-repeat="category in categories" value={{category.item}}>{{category.item}}</option>}
    </select>
  </div>
  <div class="brand">
    Brand ><br />
    <select>
      <option value="All">All</option>
      <option ng-repeat="brand in brands" value={{brand.item}}>{{brand.item}}</option>}
      option
    </select>
  </div>
  <div class="item">
    Item ><br />
    <select>
      <option value="All">All</option>
      <option ng-repeat="item in items" value={{item.item}}>{{item.item}}</option>
    </select>
  </div>
  <div class="item-tactic">
    Item-Tactic ><br />
    [Dropdown]
  </div>
  <div class="tactic-detail">
    View by<br />
    Tactic Detail
  </div>
</div>
